<h1>Minha página inicial</h1>
<a href="/contatos">Contatos</a>
<p>Olá, meu nome é Jessé. E esse é meu site, nele eu irei falar como eu conheci e comecei a praticar o “grafite”.

Então eu conheci o grafite por causa de um filme, que se chama “Homem-Aranha no Aranhaverso”, onde o protagonista chamado Miles Morales faz um sticker.

Quando eu olhei aquele desenho dele, eu pensei que poderia fazer aquilo do meu jeito, e isso já faz 3 anos. E foram 3 anos de muito aprendizado e evolução. </p>


